*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    height: 300px;
    background-image: url("../recursos/imagenes/banner1.jpg");
    background-size: cover;
}

.bannerTipoEvento{
    height: 500px;
    background-image: url("../recursos/imagenes/background_tipoEvento.jpg");
    background-size: cover;
}

h1{
    font-size: 8rem;
    color: #FF0075;
}

@media screen and (max-width: 425px){ 
    h1{
        font-size: 3rem;
    }
}


/* Salones */

.salones{
    background: linear-gradient(-90deg, #00BDAA 50%, white 50%);
}

/* Comentarios */

.comentarios{
    background: linear-gradient(-90deg, white 50%, deeppink 50%);
}

/* Footer */

.footer{
    background: black;
}

.footer h5{
    color: white;
}