*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    height: 300px;
    background-image: url("../recursos/imagenes/banner1.jpg");
    background-size: cover;
}

h1{
    font-size: 8rem;
    color: ;
}